.cache
.coverage
.coveralls.yml
.DS_Store
.idea
.ipynb_checkpoints
.pytest_cache
.ropeproject

*.lprof
*.pdf
*.pgf
*.png
*.py.bak
*.pyc

qmix/exp/hfss_data.py

misc/ 
my-projects/
old/

dist/
htmlcov/
QMix.egg-info/

docs/source/analyze-experimental-data.ipynb
docs/source/multi-tone.ipynb
docs/source/single-tone-simple.ipynb

Makefile
