.cache
.coverage
.DS_Store
.idea
.ipynb_checkpoints
.pytest_cache
.ropeproject

*.lprof
*.pdf
*.pgf
*.png
*.py.bak
*.pyc

qmix/exp/hfss_data.py

bin/
development/
misc/ 
my-projects/
old/
validation/

htmlcov/

docs/source/analyze-experimental-data.ipynb
docs/source/multi-tone.ipynb
docs/source/single-tone-simple.ipynb

to-do-list.md
cheatsheet.md
Makefile

paper/compile.sh
paper/joss-logo.png
paper/latex.template
paper/old.md
paper/paper.pdf
paper/whedon
