.cache
.coverage
.coveralls.yml
.DS_Store
.idea
.ipynb_checkpoints
.pytest_cache
.ropeproject

*.lprof
*.pdf
*.pgf
*.png
*.py.bak
*.pyc

qmix/exp/hfss_data.py

bin/
misc/ 
my-projects/
old/
speed/

build/
dist/
htmlcov/
QMix.egg-info/
__pycache__/
.eggs/

docs/source/analyze-experimental-data.ipynb
docs/source/multi-tone-simulation.ipynb
docs/source/single-tone-simulation.ipynb

Makefile
