# Virtual environment for QMix
# see: https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html
#
# Create new environment using:
#     conda env create -f environment.yml
#
# Remove using:
#     conda remove --name qmix --all
#

name: qmix
channels:
  - defaults
  - conda-forge
dependencies:
  - python>=3.7
  - pip
  # QMix dependencies (same as requirements.txt)
  - matplotlib
  - numba
  - numpy
  - scipy
  # for generating documentation
  - ipython
  - ipykernel
  - jupyter
  - nbconvert
  - nb_conda
  - pandoc
  - sphinx>=1.6
  - sphinx_rtd_theme
  - pip:
    - nbsphinx
    - tornado==4.5.3
  # for profiling
  - pip:
    - py-heat-magic
    - snakeviz
    - gprof2dot
    - memory_profiler
    - line_profiler
  # for testing
  - pytest>=3.0
  - pip:
    - pytest-cov==2.5.0
    - python-coveralls
